@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/forms

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h1 {
    font-weight: bold;
}
.form-container {
    background: url('./assets/lake-background.jpg') no-repeat 50% 40% / cover;
    height: auto;
    @apply w-2/4 p-5 rounded-3xl
}